.table {
    border-spacing: 0;
    margin: 1rem;
    background-color: #f5f5f5;
	margin-left: auto;
	margin-right: auto;
}

.img {
	padding-right: 20px;
	padding-top: 30px;
}

.table__row:nth-child(even){
	background-color: #e5e5e5;
}

.table__row:has(.active) {
    background-color: #5cfb4b;
}

.table__row:has(.standby) {
    background-color: #e5e5e5;
}

.table__row:has(.paused) {
    background-color: #f6FB4B;
}

.table__row:has(.done) {
    background-color: #fe6464;
}

.table__header {
    text-align: left;
}

.table__cell {
	font-size: 32px;
	padding: 12px;
	padding-right: 80px;
}

.standby{
	background-color: #e5e5e5;
}

.active{
	background-color: #5cfb4b;
}

.paused{
	background-color: #f6FB4B;
}

.done{
	background-color: #fe6464;
}