<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="refresh" content="300"/>
        <title>Joey Batches</title>
        <link rel="stylesheet" href="/static/styles.css" />
    </head>
    <body>
		<center>
			<h1>
			Joey - Daily Run
			<img src="{{url_for('static', filename='Rivermaid_Logo.png')}}"align="left" height="170" width="216"/>
			<img src="{{url_for('static', filename='ellips-next-level-grading.png')}}"align="right" height="89" width="216"/ class="img">
			</h1>
		</center>
        <table class="table">
            <tr class="table__header">
                {% for header in headings %}
                <th class="table__cell">{{ header }}</th>
                {% endfor %}
            </tr>
            {% for dict_item in data | sort(attribute='name') %}
            <tr class="table__row">
				{% for key, value in dict_item.items() %}
				<td class="table__cell">{{ value }}</td>
				{% endfor %}
            </tr>
            {% endfor %}

			<script>
				var children = document.getElementsByClassName('table__cell');
				for (var i = 0; i < children.length; i++) {
				  var child = children[i];
				  if (child.innerHTML === 'StandBy') {
					child.parentNode.classList.add('standby');
				  }
				  else if (child.innerHTML === 'Active') {
					child.parentNode.classList.add('active');
				  }
				  else if (child.innerHTML === 'Paused') {
					child.parentNode.classList.add('paused');
				  }
				  else if (child.innerHTML === 'Done') {
					child.parentNode.classList.add('done');
				  }
				}
			</script>

        </table>
    </body>
</html>